<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ajudasocial">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".consulta"></activity>
        <activity android:name=".listadeongs" />
        <activity android:name=".telacadastro" />
        <activity android:name=".membros" />
        <activity android:name=".cadastro" />
        <activity android:name=".soliedariedade" />
        <activity android:name=".fiquecasa" />
        <activity android:name=".suspeita" />
        <activity android:name=".testcovid" />
        <activity android:name=".orientacoescovid" />
        <activity android:name=".reviva" />
        <activity android:name=".institutopaulista" />
        <activity android:name=".revivercapao" />
        <activity android:name=".casacrianca" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>